// Settings
@import "px-colors-design/_settings.colors.scss";

// Tools
// ...

// Generic
@import "px-normalize-design/_generic.normalize.scss";
@import "px-box-sizing-design/_generic.box-sizing.scss";
@import "px-helpers-design/_generic.helpers.scss";

// Base
@import "px-flexbox-design/_base.flexbox.scss";
@import "px-viewport-design/_base.viewport.scss";
@import "px-headings-design/_base.headings.scss";

// Meta
// ...

// Objects
// ...

// Component

::-webkit-scrollbar {
  width: 0px;  /* remove scrollbar space */
  background: transparent;  /* optional: just make scrollbar invisible */
}

.app {
  display: flex;
  background-color: $gray18;
  color: $gray5;
}
.app__searches, .app__views {
  width: 50%;
  padding: 2rem;
  height: calc(100vh - 30px);
  overflow-y: scroll;
}
.app__searches {
  border-right: 1px solid gray;
}
.section-title {
  margin-top: 0;
  margin-bottom: 1rem;
  color: $gray5;
}

.search-result {
  display: flex;
  padding: 1rem;
  margin-bottom: .5rem;
}
.search-result-created-at {
  text-transform: uppercase;
  margin-top: 2rem;
  margin-bottom: .5rem;
}
.search-result--some-found {
  background-color: $gray14;
  color: white;
}
.search-result--none-found {
  background-color: $red8;
  color: white;
}
.search-result__results-count {
  margin-left: auto;
}
.search-result__label {
  margin-top: 0;
  margin-bottom: .25rem;
  color: $gray4;
}
.search-result__value {
  margin: 0;
}

.view-result, a.view-result {
  display: block;
  padding: 1rem;
  margin-bottom: .5rem;
  background-color: $gray14;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
a.view-result:hover {
  background-color: $gray16;
}
.view-result__label {
  margin-top: 0;
  margin-bottom: .25rem;
  color: $gray4;
}
.view-result__value {
  margin: 0;
}

// Trumps
@import "px-spacing-responsive-design/_trumps.spacing-responsive.scss";
@import "px-widths-responsive-design/_trumps.widths-responsive.scss";
